%html
  %head
    %title Dylan's Blog
    %meta{:content => "Dylan's Blog", :name => "description"}/
    %meta{:content => "Dylan Griffith", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #navigation
      = render :partial => 'navbar'
    .container
      .row
        .component.col-md-4.sidebar
          .module
            .g-person{:data => { :href => "//plus.google.com/u/0/101985695264361254688", :rel => "author" }}
        .component.col-md-8
          .module
            = yield
  %foot
    %script{:type => "text/javascript", :src => "https://apis.google.com/js/platform.js", :async => true, :defer => true}
